/* Global */
.bgwhite {
  background-image: none;
  background-color: #fff;
}
.audience-title{
margin-top: rem-calc(10);
}

.newshr {
  width: 95%;
  margin-left: 15px;
}
.news-date-posted {
  color: #999;
  font-size: 85%;
  text-transform: uppercase;
  margin-bottom: rem-calc(10);
}
.news-listing {
  h6 {
    margin-left: rem-calc(10);
    line-height: 1.2;
  }
  .news-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: rem-calc(10);
  }
}
.share-buttons {
  margin-bottom: rem-calc(10);
  .fb-share-button {
    margin-bottom: 5px;
  }
  
}
.read-more {
  text-align:right;
  font-size: 85%;
  text-transform:uppercase;
  }
 .title-over-hr{
 margin-bottom:-20px;
 }

.orbit-container {
  margin-bottom: rem-calc(10);
}
.orbit-bullets {
  margin-bottom: 10px !important;
}
.breadcrumbs {
  margin-bottom: 0;
}
a {
    &:hover, &:focus {
      color: scale-color($primary-color, $lightness: 30%);
    }
}
/* Home page slogan */
.home-featured-heading {
  margin: 30px 0 40px ;
}

/*Accordion customization*/
.accordion {
  dd {
  border-bottom: 1px dotted #ccc;
  
    a {     
      &:hover {	
	color: scale-color($primary-color, $lightness: 20%);
      }
      
    }
    .plus-minus-icon:before {
      display: inline;
      font-family: "foundation-icons";
      padding-right: 10px;
      color: scale-color($primary-color, $lightness: 20%);
    }
    &:not(.active) .plus-minus-icon:before {
      content: "\f199";    
    }
    &.active .plus-minus-icon:before {
      content: "\f176"; 
    }
  }
}
/* Site name styles*/
.site-name {  
  h1 {
    margin-top: 0;
    border-bottom: 5px solid $secondary-color;
    color: $primary-color;
    margin-bottom:rem-calc(5);
    line-height: 1;
    font-size: rem-calc(23);
    text-transform: uppercase;
  }
}

/* Featured - a column featuring images*/
.featured-column {
  img {margin-bottom: rem-calc(14); }
}

/* Left content styles */
.left-nav-content {
  margin: 20px 0 40px 10px;
}

/* Faculty styles */
.img-padding {
  img.left {
    margin: 5px 15px 15px 0;
    border:solid 1px #c5c5c7;
  }
}
 
.departmenthr {
  margin: 5px 0px 5px 0px;
}

/* Media queries*/
/* Small screens only*/
@media #{$small-only} {
  /*Typography needs to stays consistent in all screen sizes*/
  h1 { font-size: $h1-font-size - rem-calc(4); }
  h2 { font-size: $h2-font-size - rem-calc(4); }
  h3 { font-size: rem-calc(19);}
  h4 { font-size: rem-calc(18);}
}
/* Medium Size screens */
@media #{$medium-up} {
  /*Typography needs to stays consistent in all screen sizes*/
  h1 { font-size: rem-calc(23);}
  h2 { font-size: rem-calc(20);}
  h3 { font-size: rem-calc(19);}
  h4 { font-size: rem-calc(18);}  
}