/* Global */
.bgwhite {
  background-image: none;
  background-color: #fff;
}

.newshr {
  width: 95%;
  margin-left: 15px;
}
.news-date-posted {
  color: #999;
  font-size: 85%;
  text-transform: uppercase;
  margin-bottom: rem-calc(10);
}
.news-listing {
  h5 {
    margin-left: rem-calc(10);
    line-height: 1.2;
  }
  .news-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: rem-calc(10);
  }
}
.share-buttons {
  margin-bottom: rem-calc(10);
  .fb-share-button {
    margin-bottom: 5px;
  }
  
}
.read-more {
  text-align:right;
  font-size: 85%;
  text-transform:uppercase;
  }
 .read-more-arrow {
  font-size: 150%;
 }
 .title-over-hr{
 margin-bottom:-20px;
 }

.orbit-container {
  margin-bottom: rem-calc(10);
}
.orbit-bullets {
  margin-bottom: 10px;
}
.breadcrumbs {
  margin-bottom: 0;
}
a {
    &:hover, &:focus {
      color: scale-color($primary-color, $lightness: 30%);
    }
}

/*Accordion customization*/
.accordion {
  dd {
  border-bottom: 1px dotted #ccc;
  &:not(.active) .expand {
    background: url('../img/plus.png') no-repeat left center transparent
  }
  &.active .expand {
    background: url('../img/minus.png') no-repeat left center transparent;
    } 
  }
}

/* Site name styles*/
.site-name {  
  h1 {
    margin-top: 0;
    border-bottom: 5px solid $secondary-color;
    color: $primary-color;
    margin-bottom:rem-calc(5);
    line-height: 1;
    font-size: rem-calc(23);
    text-transform: uppercase;
  }
}

/* Featured - a column featuring images*/
.featured-column {
  img {margin-bottom: rem-calc(14); }
}

/* Events styles */
.event-column {
  hr {
    margin-top:3px;
    margin-bottom:10px;
  }

  .event-list {
  
  > li:first-child {
  width:20%;
  padding-bottom: rem-calc(8);
  }
  > li:last-child {
    width:80%;
    padding: 0;
  }
  
  .description {
    margin-top:0 !important;
    width: 100%;
    
    h5.title {
      margin-top:0 !important;
      margin-bottom: 0 !important;
    }
    p {
      margin-bottom: 0;
    }
  }
 }
.events {
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid $primary-color;
  
  a {
    color: #fff;
  }
  
  .event-date-month {
    background-color: $primary-color;
  }
  .event-date-day {
    background-color: $header-footer-color;
    padding-top:5px;
    padding-bottom:5px;
  }
}
}

/* Left content styles */
.left-nav-content {
  margin: 20px 0 40px 10px;
  
  /* Events on left side bar*/
  .event-list {
    .events {
      width:40px;
      font-size: rem-calc(13);
    }
    .description {
      margin-left: 10px;
      h5{
        font-size: rem-calc(14);
      }
    }
  }
}

/* Media queries*/
/* Small screens*/
@media #{$small-only} {
  /*Typography needs to stays consistent in all screen sizes*/
  h1 { font-size: $h1-font-size - rem-calc(4); }
  h2 { font-size: $h2-font-size - rem-calc(4); }
  h3 { font-size: rem-calc(19);}
  h4 { font-size: rem-calc(18);} 
}

/* Medium Size screens */
@media #{$medium-up} {
  /*Typography needs to stays consistent in all screen sizes*/
  h1 { font-size: rem-calc(23);}
  h2 { font-size: rem-calc(20);}
  h3 { font-size: rem-calc(19);}
  h4 { font-size: rem-calc(18);}
}