/* Mixin Athletics */

.banner{
background-image:url(../img/athletics/gonavy.jpg);
background-repeat:no-repeat;
background-position:right top;}

.breadcrumbs{
background: #fff url(../img/default.jpg) no-repeat right top;
    background: none;
}

p.uppercase {
text-transform:uppercase;
text-align:center;
background-color: #153a5e; 

padding-top:10px;
padding-bottom:10px;
padding-right:10px;
padding-left:10px;
}