/* Mixin Social media content block*/
$social-media-box-font-size: rem-calc(13);
@mixin social-media-box {
  margin-top: 1.2em;
  margin-bottom:1em;
  border: 1px solid #ccc;
  border-top: 10px solid $secondary-color;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  
  h3 {
    padding: 20px 0 0;
    margin: 0
  }
  
  .feed-container {
    padding: 15px 20px 0;
    margin:3px 0 0;
    
    .title {
      margin-bottom: 5px;
      
      h4 {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: bold;     
      }
      
      img {
        display: inline;
      }
      
      span.timestamp {
      font-size:80%;
      display: block;
      margin-left: 30px;
      margin-top: -8px;
      }
    }    
    
    p {
      font-size: $social-media-box-font-size;
      margin-bottom: 0;
    }
  }
}