.cbo_nn_mainContent {
	padding-left: 16px;
	padding-right: 16px;
}
.cbo_nn_disclaimerHeaderDiv {
	margin-top:20px;
}
.cbo_nn_staticPanelDiv {
	padding: 20px;
	margin-bottom: 20px;
}
.footer {
	padding-left: 20px;
}