/* Footer Styles */
$footer-size: rem-calc(13);
/*Colors for links in footer and header */
$header-footer-color: #153a5e;


footer {
  background: $primary-color !important;
  padding-top:20px;
  color: #eee;
  
  .footer-links {
    a {
      color: $secondary-color;
      font-size: $footer-size;
    }
    li {
      font-size: $footer-size;
    }
  }
  
  .footer-seal {
    color: #fff;
	margin-bottom: 10px;
    
    div,p {
      font-size: $footer-size;     
      padding: 0 10px;
      line-height: 1.2em;
      margin-bottom: 0.1em;
    }
    a {
      color: #fff;
    }
    
    ul.social-media  {
    display: inline-block;
    margin: 10px 0 0;
    float: none;
    
      li {
        display: block;
        list-style: none;
        margin-left: 5px;
        margin-bottom: 5px;
        float: left;        
      }
      img {
        width:35px;
      }
    
    }
  }
 
  h5 {
    color:#fff;
    border-top: 1px dotted scale-color($primary-color, $lightness: 30%);
    padding-top:rem-calc(7);
    margin-top: rem-calc(10);
  }
  
  .mobile-footer {
    li {
      padding-bottom: 0;
      
      &:first-child {
        h5 {
          border-top:none;
        }
      }
    }
  }
}


/*Footer bottom styles*/
$footer-bottom-size: rem-calc(11);

.footer-bottom {
  background: $header-footer-color url('../img/background.png');
  padding: 10px 0 10px;
  color: #fff;
  font-size: $footer-bottom-size;
  border-bottom: 5px solid $secondary-color;
  
  a {
      color: #fff;
      font-weight: bold;
    }
    
  .url-bottom {
    text-align: center;
    padding:0.5em 0 0.5em;  
  }

}

.social-media img
	{
		height:35px;
	}

.footer-contact
	{
		margin-top:7px;
		
	}
 .footer-address
	{
		margin-top:7px;
	}
 .footer-address::first-line
	{
		 font-style: normal;
		 font-size:rem-calc(16);
	}
.more-social-media 
	{
	margin-top:-5px;	
	}

/* Media Queries*/
@media #{$medium-up} {
  footer {
    h5 {
      border-top: none;
    }
  }
}

