/* Mixin Alumni */

.alumni-records 
	{

		background-image:url(../img/file.jpg); 
		background-size:70%; 
		background-repeat:no-repeat; 
		background-position:50% 100%; 
		padding:10px; 
		height:155px;


		h2
			{
				text-align:center; 
				position:relative; 
				top:80%;
			}


	}
	
