/*  Right callouts  */

/* Custom side nav for news-categories */
.news-categories-container {
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  background-color:#EEE;
  border:1px solid #CCC;
  margin-bottom:rem-calc(10);
  
  h4 {
  background: url(../img/background.png) repeat scroll 0 0 #153A5E;
  color: #FFFFFF; 
  padding-left:rem-calc(7); 
  padding-top:rem-calc(3);
  padding-bottom:rem-calc(4);
  margin-left:rem-calc(-10);
  margin-right:rem-calc(-10);
  margin-top:0;
  }
}

.side-nav-indent {
  padding-left: rem-calc(10);
}
.side-nav-caps {
  text-transform:uppercase;
}

h5.right-callout-heading5 {
  font-size: rem-calc(15);
  font-weight: bold;
}
/* Box for the social media feeds. Uses Orbit*/
.social-media-box {
  @include  social-media-box;
}
/* Box for other text. Not social media yellow top border style. Uses Orbit */
.text-orbit-box {
  @include social-media-box;
  border-top: 1px solid #ccc;;
}