/* Mixin Divisions */

$light-primary-color: #5d82a3;

.large-icon-spot
	{
		background-color:$light-primary-color; 
		border-radius:200px; 
		height:95px; 
		width:95px; 
		color:#FFF; 
		margin:auto; 
		text-align:center;
		
		i
			{
				font-size:5em;
			}
	}
	
.large-icon-spot-caption
	{
		color:$light-primary-color;  
		font-size:1.3em; 
		line-height:100%;
	}
	
.large-icon-spot-caption::first-line
	{
		line-height:150%;
	}
	
.icon-five
	{
		font-size:5em;
	}