/* Events styles */
div#cal-wrapper {
  margin-bottom: 1rem;
}
.event-column {
  hr {
    margin-top:3px;
    margin-bottom:10px;
  }

  .event-list {
  
  > li:first-child {
  width:18%;
  padding-bottom: rem-calc(8);
  }
  > li:last-child {
    width:80%;
    padding: 0;
  }
  
  .description {
    margin-top:0 !important;
    width: 100%;
    line-height: 1.25em;
    padding-left: 5px;
    
    h5.title {
      margin-top:0 !important;
      margin-bottom: 0 !important;
    }
    p {
      margin-bottom: 0;
      font-size: $social-media-box-font-size;
    }
  }
 }
.events {
  width: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid $primary-color;
  font-size: rem-calc(13);  
  
  .event-date-month {
    background-color: $primary-color;
    color:#fff;
  }
  .event-date-day {
    background-color: $header-footer-color;
    padding-top:5px;
    padding-bottom:5px;
    color:#fff;
  }
}
}

// Left content styles 
//.left-nav-content {
 
  // Events on left side bar*/
 // .event-list {
 //   .events {
 //     width:40px;
 //   }
 //   .description {
 //     margin-left: 16px;
 //   }
 // }
//}

/* Media queries*/
/* Small only - NOTE: Updated after the change from small-block-grid to small-2 columns*/
@media #{$small-only} {
//  /* Events*/
  .event-column {
//    .event-list {
//      > li:first-child {
//	width:60px;
//      }
      > li:last-child {
      width:70%;
      }
    }  
}
@media #{$medium-only} {
  /* Events*/
  .event-column {
    .event-list {
//      > li:first-child {
//	width:50px;
//      }
      > li:last-child {
      width:70%;
      }
    }
  }
  
}
@media #{$large-up} {
  .left-nav-content {
 
  /* Events on left side bar*/
  .event-list {
    .events {
      width:40px;
    }
    .description {
      margin-left: 16px;
    }
  }
}
}
