
/* To highlight something in a panel. Ex. Student highlight in audience based pages. Includes style to have an image aligned
 * either to the right or left inside the featured panel.*/

.featured-panel {
  @include panel(
   // Sets the panel background color. Default: $panel-pg
    $bg: white,
    // Sets the panel padding amount. Default: $panel-padding
    $padding: rem-calc(15),
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:false
  );
  img.left {
    margin: 5px 15px 0px 0;
  }
  img.right {
    margin: 5px 0 15px 15px;
  }
}