/* Mobile Sub-navigation*/
.mobile-sub-navigation {
   
  .subsection-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    line-height: rem-calc(14);
  
    li {
      &:not(.divider) {
       padding: rem-calc(10);
       border-bottom: 1px solid scale-color(#fff, $lightness: -20%);
      }
      &:first-child {
        background: #fff;
      }
      a {
        display: block;
        &:hover, &:active {color: scale-color($primary-color, $lightness: 30%); }
      }
      &.active > a:first-child:not(.button) {
          font-weight: bold;
          color: scale-color($primary-color, $lightness: 30%);
          &:active {
            font-weight: bold;
            color: scale-color($primary-color, $lightness: 30%);
          }
          &:hover {
            font-weight: bold;
            color: scale-color($primary-color, $lightness: 30%);
          }
      }
      &:hover {
        background: #fff;
      }
      label {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    
  }
}