/* News styles*/
.news-date-posted {
  color: #999;
  font-size: 85%;
  text-transform: uppercase;
  margin-bottom: rem-calc(5);
}
.news-listing {  
  h6 {
    margin-left: rem-calc(10);
    line-height: 1.2;
  }
  .news-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  dl {
    margin-left: 0;
  }
}

.fb-icon {
padding-top: 7px;
padding-bottom: 5px;
//margin-left: 45px;
}

.twitter-icon {
//margin-left: 45px;
vertical-align:middle;
}
/* Large Size screens */
@media #{$large-up} {
 .news-listing {
  dl {
    margin-left: rem-calc(10);
  }
 }
}